
.row{
  margin-top:10px;
}

li.col-md-3{
    border-radius: 40px;
    padding:10px;
    min-height:300px;
}
.card {
  padding: 10px;
}

.close{
  z-index:50;
  display:inline;
  position: absolute;
      top: 10px;
      right: 13px;
}
.card-img-top{

  min-height:200px;
}
.modal{
  background-color: rgba(255, 230, 153,0.5);


}
