body{
  background-color: #FFF8E1;
}
#boton{
  background-color: #FFA949;
}
#muro{
  text-align: left;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.row{
  margin-top:10px;
}

li.col-md-3{
    border-radius: 40px;
    padding:10px;
    min-height:300px;
}
.card {
  padding: 10px;
  margin-top:20px;
  background-color: #FDC688;
}

h4{
  margin-top: 30px;
}

.close{
  z-index:50;
  display:inline;
  position: absolute;
      top: 10%;
      right: 5%;
}
.card-img-top{

  min-height:200px;
}
.modal{
  background-color: rgba(255, 230, 153,0.5);


}
